*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(Tours.JPG);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    font-family: century  Gothic;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:#000;
    padding: 10px 45px;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 20px;
   
    display: block;
    
}
ul li a:hover{
    background-color: darkgray;
    color: #000;
}
ul li .active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 220px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.title{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: blue;
    font-size: 69px;
}
.button{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
}
#btn{
    border: 2px solid  rgb(234, 233, 240);
    padding: 10px 50px;
    color:whitesmoke;
    text-decoration: none;
    transition: 0.6s ease;
    font-size: 30px;
}
#btn:hover{
    background-color: rgb(79, 83, 83);
    color: #000;
}
.maincontainer{
    margin-top: 20px;
    width: 1100px;
    height: 2355px;
    background: rgb(66, 16, 247);
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
.intro{
    margin-top: 40px;
    width: 100%;
    height:200px;
    background-color: aqua;
}
.intro p{
    margin-top: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.content01{
    margin-top: 40px;
    width: 100%;
    height:400px;
    background: rgb(247, 246, 244);
}
.content01 h2{
    font-family: "Lucida Console", Courier, monospace;
   text-indent : 2em;
}
.content01 img{
    float: center;
    width: 30%;
    height: 165px;
    margin-left: 300px;
}
.content01 p{
    text-indent : 4em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    width: 100%;
    background: #00121b;
    display: block;
}
.innerfooter{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: center ;
}
.footeritem{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footeritem h1{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
.footeritem p{
    color: lightsteelblue;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
.footeritem h2{
    margin: 10px 0;
    font-size: 16px;
    color: rgb(167, 163, 163);
    font-weight: lighter;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 4opx;
    background: #ff9800;
}
.footeritem ul li{
    color: honeydew;
}