*{
    margin: 0;
    padding: 0;
    font-family: century  Gothic;
}

header{
    background-image: url(fort.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(250, 246, 246);
    padding: 15px 45px;
    border: 2px solid #000;
    transition: 0.6;
    font-size:20px;
    display: block;
    background-color: rgb(151, 100, 53);
}
ul li a:hover{
    background-color:darkgray;
    color: #000;
}
ul li .active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 220px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}


.title{
    position: absolute;
    top: 52%;
    left: 60%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: rgb(247, 242, 242);
    font-size: 65px;
}
.title p{
    color: rgb(14, 13, 15);
    font-size: 25px;
}
.button{
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%,-50%);
}
#btn{
    border: 2px solid  rgb(234, 233, 240);
    padding: 10px 50px;
    color:whitesmoke;
    text-decoration: none;
    transition: 0.6s ease;
}
#btn:hover{
    background-color: rgb(79, 83, 83);
    color: #000;
}
.highlights{
    width: 100%;
    padding: 72px 0px 72px 0px;
    background-color: rgb(128, 122, 122);
    background-size: cover;
    clear: both;
    float: left;
}
.highlights .heading h2{
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    letter-spacing: .05px;
    text-align: center;
    color: #fff;
}
.highlights .heading p{
    width: 60%;
    line-height: 25px;
    margin :0 auto;
    text-align: center;
    color: rgb(0, 0, 0);
}
.highlights .column01{
    width: 30%;
    float: left;
    padding: 0 15px;
   margin-top: 60px;
}
.highlights .column01 img{
    width: 455px;
    display: inline-block;
    margin: 0 auto;
    height: 300px;
}
.highlights .column01 .textbox {
    padding: 9%;
    background-color: rgb(167, 163, 163);
    width: 80%;
    text-align: center;
}
.highlights .column01 .textbox h4{
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 23px;
    letter-spacing: 0.4px;
}
.highlights .column01 .textbox p{
    color: #ffffff;
    line-height: 23px;
    text-align: center;
    margin: 0 0 10px;
    font-size: 14px;
}

.footer{
    width: 100%;
    background: #00121b;
    display: block;
}
.innerfooter{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: center ;
}
.footeritem{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footeritem h1{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
.footeritem p{
    color: lightsteelblue;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
.footeritem h2{
    margin: 10px 0;
    font-size: 16px;
    color: rgb(167, 163, 163);
    font-weight: lighter;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 4opx;
    background: #ff9800;
}
.footeritem ul li{
    color: honeydew;
}